#filename {
    margin-top: .25em;
}

#main-panel {
    padding: 1em;
    width: 100%;
    height: 90%;
    position: absolute;
}

#cy {
    width: 100%;
    height: 100%;
}

#target-filter {
    width: 150px;
}

#support-filter, #confidence-filter, #correlation-filter-min, #correlation-filter-max, #conviction-filter, #complexity-filter {
    width: 60px;
}

#show-top-filter {
    width: 70px;
}

#file {
    display: none;
}

#navbar {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar {
    margin-bottom: 0;
}

#about {
    width: 900px;
    margin: 20px auto;
}

ul {
    display: flex;
    list-style: none;
}

.vertical-centered {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#dialog {
    max-height: 1000px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 128px;
    height: 28px;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
}